<!-- Form de suscripción -->
<div class="container-fluid text-center suscripcion">
    <div class="row align-items-center justify-content-center" style="height: 75px;">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-end">
                <label for="validationCustom01" class="form-label h6">Suscríbete a mi newsletter</label>
            </div>
            <form class="col-md-8" action="/suscripcion" method="post">
                <div class="input-group">
                    <input type="email" class="form-control" id="validationCustom01" placeholder="nombre@ejemplo.com"
                        name="susemail" required>
                    <button type="submit" class="btn btn-primary botones" data-bs-toggle="modal"
                        data-bs-target="#modal_suscripcion">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Fin del Form de suscripción -->

<!-- Modal Agradecimiento por suscripcion -->
<div class="modal fade" id="modal_suscripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">¡Gracias por suscribirte!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> <!-- FIn Modal Agradecimiento por suscrpcion -->

<!-- Carrousel -->
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="img/trabajadoras_1.jpg" class="d-block w-100" alt="Imagen 1">
            <div class="d-none d-md-block">
                <h4 class="carrousel_texto">Camila y Valeria · Arquitectas</h5>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="img/trabajadoras_2.jpg" class="d-block w-100" alt="Imagen 2">
            <div class="d-none d-md-block">
                <h4 class="carrousel_texto">Alina · Envases de cartón</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/trabajadoras_3.jpg" class="d-block w-100" alt="Imagen 3">
            <div class="d-none d-md-block">
                <h4 class="carrousel_texto">Dora · Artista plástica</h5>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Cierra el Carrousel -->


<!-- Soy Vero-->
<div id="soyvero" class="container">
    <div class="row">
        <div>
            <p class="seccion">¡Hola! Soy Vero</p>
        </div>

        <div class="col-lg-9 col-md-12 mb-4">
            <h5>"Todos los perros tienen pulgas..."</h5>
            <p>Dolores dolor commodi vero ea unde sapiente, eveniet consequuntur nesciunt fugiat ipsam similique
                exercitationem iure perspiciatis pariatur molestiae? Quibusdam quo optio unde. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Natus hic
                suscipit utem, beatae, eligendi sed maxime porro officiis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci quasi earum dolores autem
                architecto atque. Autem aliquam similique eos repellat,
                laudantium ducimus reprehenderit atque molestias, architecto veritatis inventore est!</p>

            <!-- Acordeon -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button acordeon_item" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            · Educación
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Nunca pares de aprender.</strong> It is shown by default, until the collapse plugin
                            adds the appropriate classes that we use to style each element. These can modify
                            any of this with custom CSS or overriding our default variables. It's also worth noting that
                            just about any HTML can go within the, though the transition does limit overflow.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button acordeon_item collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            · Mi equipo
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Trabajá con gente que sepa más que vos</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                        </div>
                    </div>
                </div>
            </div> <!-- Acordeón -->
        </div> <!--- fin CV -->

        <div class="col-lg-3 col-md-12"> <!-- Fotografías -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/testimonio_1.jpg" class="d-block w-100 fotografias_borde" alt="Emprende 2024">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="fotografias_titulo">Emprende 2024</h5>
                            <p class="fotografias_subtitulo">Economía Social</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/testimonio_2.jpg" class="d-block w-100 fotografias_borde" alt="ETH Latam 2023">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="fotografias_titulo">ETH Latam 2023</h5>
                            <p class="fotografias_subtitulo">Blockchain en finanzas</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="img/testimonio_3.jpg" class="d-block w-100 fotografias_borde"
                            alt="E-commerce day 2023">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="fotografias_titulo">E-commerce Day 2023</h5>
                            <p class="fotografias_subtitulo">Potenciar Pymes</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> <!-- Fin Fotografía -->
    </div> <!-- Fin Quién soy -->
</div> <!-- Soy Vero -->

<!-- Mi metodología -->
<div id="metodologia" class="container">
    <div>
        <p class="seccion">Mi Metodología</p>
    </div>
    <div class="container text-center" style="width: 90%;">
        <div class="row">
            <div class="col">
                <div class="card sinborde">
                    <img src="img/Arbol_1.png" class="card-img-top" alt="Pensar">
                    <div class="card-body">
                        <h5 class="card-title" style=color:#016685;>1. Hoy</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card sinborde">
                    <img src="img/Arbol_2.png" class="card-img-top" alt="Pensar">
                    <div class="card-body">
                        <h5 class="card-title" style=color:#016685;>2. Objetivos</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the ccontent.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card sinborde">
                    <img src="img/Arbol_3.png" class="card-img-top" alt="Pensar">
                    <div class="card-body">
                        <h5 class="card-title" style=color:#016685;>3. Presupuesto</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card sinborde">
                    <img src="img/Arbol_4.png" class="card-img-top" alt="Pensar">
                    <div class="card-body">
                        <h5 class="card-title" style=color:#016685;>4. Automatizar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card sinborde">
                    <img src="img/Arbol_5.png" class="card-img-top" alt="Pensar">
                    <div class="card-body">
                        <h5 class="card-title" style=color:#016685;>5. Futuro</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de mi metodología -->


<div id="curso" class="container">
    <div>
        <p class="seccion">Gestión financiera</p>
    </div>

    <div class="container" style="background-color: #eeeeee; padding:2%;">
        <div class="row">
            <!-- Columna 1 Datos del curso -->
            <div class="col-lg-9 col-md-8 col-sm-12">

                <!-- Menú del curso -->
                <ul class="nav bg-body-tertiary nav-pills">
                    <li class="nav-item">
                        <a class="nav-link botones_curso active" aria-current="page" href="#contenido">Contenido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones_curso" href="#cronograma">Cronograma</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones_curso" href="#aprender">Vas a aprender a</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones_curso" href="#requisitos">Requisitos</a>
                    </li>
                </ul>

                <div data-bs-spy="scroll">
                    <!-- Contenido -->
                    <h4 id="contenido" class="curso_titulos">Contenido</h4>
                    <p style="text-align:justify ;">En este curso de Gestión Financiera Saludable para vos y tu
                        emprendimiento, vamos a
                        transformar tu caos financiero
                        en oportunidades concretas y alcanzables. Este proceso no solo aborda la gestión de tus
                        finanzas, sino que también
                        se convierte en un camino de autoconocimiento y desarrollo personal, fundamental para
                        potenciar tu desarrollo profesional
                        y alcanzar la libertad financiera. <br>
                        Vas a aprovechar mis más de 20 años de experiencia acompañando a emprendedores y a Pequeñas
                        y Medianas Empresas (PyMEs)
                        en la potenciación de sus negocios, ahorro e inversión. Como Licenciada en Economía y Coach
                        Ontológico, combinaré
                        en oportunidades concretas y alcanzables. Este proceso no solo aborda la gestión de tus
                        finanzas, sino que también.<br>
                        Se convierte en un camino de autoconocimiento y desarrollo personal, fundamental para
                        potenciar tu desarrollo profesional
                        y alcanzar la libertad financiera.
                    </p>
                    <!-- Cronograma -->
                    <h4 id="cronograma" class="curso_titulos">Cronograma</h4>
                    <p>El curso lo dicto 4 veces al año. Te recomiendo hacer la reserva lo antes posible</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Fin</th>
                                <th scope="col">Cupos disponibles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1 Verano</th>
                                <td>3/01/25</td>
                                <td>8/02/25</td>
                                <td>Sin Vacantes</td>
                            </tr>
                            <tr>
                                <th scope="row">2 Otoño</th>
                                <td>2/04/25</td>
                                <td>12/005/25</td>
                                <td>Cupos disponibles</td>
                            </tr>
                            <tr>
                                <th scope="row">3 Invierno</th>
                                <td>Intensivo</td>
                                <td>Todo Julio</td>
                                <td>Sin Vacantes</td>
                            </tr>
                            <tr>
                                <th scope="row">4 Primavera</th>
                                <td>4/09/25</td>
                                <td>12/10/25</td>
                                <td>Cupos disponibles</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Que vas a aprender -->
                    <h4 id="aprender" class="curso_titulos">¿Qué vas a aprender?</h4>
                    <ol class="list-group list-group-flush" style="text-align: left;">
                        <li class="list-group-item">• Gestión del Dinero: Establece un presupuesto efectivo,
                            controla tus gastos y organiza tus finanzas.</li>
                        <li class="list-group-item">• Equilibrio Entre Corto y Largo Plazo: Equilibrio entre
                            disfrutar del presente y planificar para el futuro.</li>
                        <li class="list-group-item">• Estrategias de Ahorro: Un colchón financiero sólido que te
                            brinde seguridad y estabilidad.</li>
                        <li class="list-group-item">• Inversión Inteligente: Conceptos básicos de inversión y cómo
                            hacer crecer tu dinero reduciendo el riesgo.</li>
                        <li class="list-group-item">• Planificación Financiera: Diseña un plan integral que alinee
                            tus metas personales con tus objetivos empresariales.</li>
                        <li class="list-group-item">• Herramientas Prácticas: Técnicas efectivas para gestionar el
                            dinero y desarrollar habilidades prácticas.</li>
                        <li class="list-group-item">• Mentalidad y Emociones: Superar creencias limitantes y
                            gestionar tus emociones relacionadas con el dinero.</li>
                        <li class="list-group-item">• Fijación de Precios y Costos: Determinar los costos de tus
                            productos o servicios y a fijar los precios.</li>
                    </ol>
                    <!-- Requisitos -->
                    <h4 id="requisitos" class="curso_titulos">Requisitos</h4>
                    <ol class="list-group list-group-flush" style="text-align: left;">
                        <li class="list-group-item">• Conocimiento básicos de Excel y Word</li>
                        <li class="list-group-item">• Acceso a internet para las clases virtuales</li>
                    </ol>
                </div>
            </div> <!-- Fin Columna 1: Datos del curso -->

            <!-- Columna 2: Datos del docente -->
            <div class="col-lg-3 col-md-4 col-sm-12">
                <h4 class="curso_titulos" style="padding-top: 25px;">Docente del curso</h4>
                <div class="card">
                    <img src="img/profe_mariela.jpg" class="card-img-top" alt="Foto del instructor">
                    <div class="card-body">
                        <h5 class="card-title">Vero Díaz</h5>
                        <p class="card-text">Licenciada en economía y Coach Ontológica. Especialista en Comercio
                            Electrónico y Gestión de Organizaciones. Máster en Economía Social y Circular.</p>
                        <a href="https://www.linkedin.com/in/ver%C3%B3nica-d%C3%ADaz-1b44782b" target="_blank"
                            class="btn btn-primary botones">LinkedIn</a>
                    </div>
                </div>
            </div> <!-- Fin Columna 2: Datos del docente -->
        </div>
    </div>
</div>


<!-- Novedades -->
<div class="container mt-4">
    <h4 class="seccion">Noticias</h4>
    <div class="novedades_container">
        {{#each novedades}}
        <div class="card text-bg-light mb-3" style="width: 18rem;">
            <img src="{{imagen}}" class="card-img-top" alt="Imagen">
            <div class="card-body">
                <h5 class="card-title" style="color: #016685;">{{titulo}}</h5>
                <p class="card-text">{{subtitulo}}</p>
                <a href="#" class="btn btn-primary botones" data-bs-toggle="modal"
                    data-bs-target="#ModalPrensa{{id_nov}}">Leer resumen</a>
            </div>
        </div>
        {{/each}}
    </div>
</div> <!-- Fin Novedades -->

<!-- Modal de novedades -->
{{#each novedades}}
<div class="modal fade" id="ModalPrensa{{id_nov}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{imagen}}" width="400px" />
                <p style="margin-top: 10px; font-weight: bold;">{{subtitulo}}</p>
                <p>{{cuerpo}}</p>
                <!-- Enlace para leer más -->
                <button type="button" class="btn btn-primary botones" onclick="window.open('{{link}}', '_blank')">Leer
                    nota completa</button>
            </div>
        </div>
    </div>
</div>
{{/each}} <!-- Fin Modal de novedades-->

<!-- Formulario de consulta -->
<div id="contacto" class="mb-3" style="background-color:#eeeeee; margin-top: 30px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2"></div> <!-- Columna vacía a la izquierda -->
            <div class="col-8"> <!-- Columna con el formulario -->
                <h4 class="seccion" style="padding-top: 50px;">Contacto</h4>
                <p>Si tenés alguna duda sobre este curso (u otra cosa) escribime.</p>
                <form class="mb-3" action="/" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">¿Cuál es tu
                            nombre?</label>
                        <input type="name" class="form-control" id="exampleFormControlInput1"
                            placeholder="Tu nombre (o tu apodo)" name="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Dejame tu Correo
                            Electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="nombre@ejemplo.com" name="email">
                        <div id="emailHelp" class="form-text">¡Tranquila! No lo voy a compartir con
                            nadie.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Escribí tu
                            consulta</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                            placeholder="Escribí acá tu mensaje" name="mensaje"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary botones" style="margin-top: 40px;">Enviar</button>
                    </div>
                </form>
                <div style="margin: 15px;">
                    {{message}}
                </div>
            </div> <!-- Fin columna con el formulario -->
            <div class="col-2"></div> <!-- Columna vacía a la derecha -->
        </div>
    </div>
</div>
<!-- Fin del formulario de consulta -->